.text-area {
    -fx-background-color: rgb(51,51,51);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
}
.text-area .content, .text-area:focused .content {
    -fx-background-color: rgb(51,51,51);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane {
    -fx-border-radius: 20;
    -fx-background-color: rgb(51,51,51);
}
.scroll-pane > .content {
    -fx-border-radius: 20;
    -fx-background-color: rgb(51,51,51);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


/* TAB PANE */

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: black;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-font-family: "Courier New";
}
.tab-pane .tab
{
    -fx-background-color: rgb(51,51,51);
}

.tab-pane .tab:selected
{
    -fx-background-color: black;
    -fx-border-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

/* Button */

.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgb(51,51,51);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-padding: 7;
}

.text {
    -fx-text-fill: white;
}